@font-face {
    font-family: "Noto-Memo";
    src: url("../NotoMemoSubset.woff");
}

:root {
    --font-mono-jp: "Noto-Memo", monospace;
}

.japanese-monospaced pre {
    font-family: var(--font-mono-jp);
}

/* Hide the ugly toctree captions on the main page */
section#jubeatools div.toctree-wrapper span.caption-text {
    display: none;
}